
  <% if logged_in? %>
  <form action='/books' method="post">
    <h2>Add a New Book:</h2>
       Title:<br> <input type="text" id="title" name="title"><br>
       Author:<br> <input type="text" id="author" name="author"><br><br>
       Summary:<br> <textarea type="text" id= "summary" name="summary"></textarea><br><br>
      
    <input type="submit" name="submit" id="submit">

  </form>



<% else %>
<h2> You must be logged in to use this feature. </h2> 
<% end %>