<!doctype html>
<html>
   <head>
   <style>
   @import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
   body {background_color: White;
   font-family: 'Courier New', monospace;}
   h1 {color: DarkOliveGreen;
   font-family: 'Rampart One', cursive;
   font-size: 96px;}
   h2 {color: DarkOliveGreen;}
   h3 {color: DarkOliveGreen;}
   a {color: GoldenRod;}
   title {color: DarkOliveGreen;
   font-family: 'Rampart One', cursive;
   font-size: 96px;}
   li {color: DarkOliveGreen;}
   input {font-family: 'Courier New', monospace;}
   </style>

    <title>READ IT!</title>
  </head>
  <body>

    <div class="container">
      <h1>READ IT!</h1>
    <%= yield %>
    </div>


</html>