<!doctype html>
<html>
   <head>
   <style>
   @import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
   body {background-color: White;
   font-family: 'Courier New', monospace;}
   h1 {color: DarkOliveGreen;
   font-family: 'Rampart One', cursive;
   font-size: 84px;}
   h2 {color: DarkOliveGreen;}
   h3 {color: DarkOliveGreen;}
   title {color: DarkOliveGreen;
   font-family: 'Rampart One', cursive;
   font-size: 96px;}
   li {color: DarkOliveGreen;}
   input {font-family: 'Courier New', monospace;
   text-align: left;}
   textarea {min-height: 100px;
   width: 300px;}
   a {text-decoration: none;
   color: DarkOliveGreen;}
   </style>

    <title>READ IT!</title>
  </head>
  <body>

    <div class="container">
      <h1><a href="/books">READ IT!</a></h1>
    <%= yield %>
    </div>


</html>